doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Three Playground
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='styles/main.css')
  body
    #ThreeJS
    header
      form
        input.text-input(type='text')
        button(type='submit') Change color
      button.spin-floor Spin Floor
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js')
    script(src='../scripts/webaudiox.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/three.js/r67/three.min.js')
    script(src='https://stemkoski.github.io/Three.js/js/OrbitControls.js')
    script(src='http://threejs.org/examples/fonts/helvetiker_regular.typeface.js')
    script(src='https://stemkoski.github.io/Three.js/fonts/helvetiker_bold.typeface.js')
    script(src='../scripts/main.js')
